= form_for @user do |f|
  = render partial: "shared/errors", locals: { target: @user }
  .form-group
    = f.label :email
    = f.text_field :email
  .form-group
    = f.label :password
    = f.password_field :password
    .form-group
      = f.label :password_confirmation
      = f.password_field :password_confirmation
  = f.submit