.container
  = link_to "Logout", logout_path
  Your Credits: 100

  %ul
    - @users.each do |user|
      %li
        %p
          = user.email
          %span
            Send Credit to: 
            = form_for @transaction do |f|
              = f.hidden_field :user, value: current_user.id
              = f.hidden_field :to, value: user.id
              .form-group
                = f.label :amount
                = f.number_field :amount
              = f.submit "Send Credit"